*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #548687; */
    background: #ccd5ae;
    text-align: center;
}
h1{
    padding-top: 49px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #faf6edfe;
}

#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
#msg{
    color: #67671c;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 4rem;
}

.hide{
    display: none;
}

.o {
    color: black; /* Change the color for O */
}
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 100;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
    }
}